<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> | Pizza Shopz</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <h1>I shall make you <%= qty %> pizzas with <%= topping %></h1>
  </body>
</html>
